.header-top .header-container .logo img {
    width: 200px;
}

*{cursor:none !important;}

/* Flags */
.flag {
    /* display: inline; */
    /* max-width: 20px; */
    height: 40px;
    /* width: auto;
    height: auto; */
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 5px;
}
  
.flag.flag-active {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}